*.url

# Main directory
admin/
Archive/
data/*
OtherSTIs/
!data/ABS_departures_clean-*.csv
!data/ABS_interstate_clean-*.csv
!data/ABS_migration_clean-*.csv
/dashboards/*.csv
/dashboards/rsconnect/
/*.xlsm
/*.lnk
/*.DS_Store
/docs/
/output/
/references/
/code/Treatment cascade calculations.rmd
/misc/
/code/.Rhistory
/code/.Rdata
.Rhistory
.RData
.Rproj.user
cascadeIncidence_files/
AcquisitionCalculation.xlsx
Rplots.pdf
PHC CT request_NSW data only_updated_26July2016.xlsx

# HIV directory
HIV/*.nb.html
HIV/data/*
HIV/data/HIVbaseEstimates-2022_Store.csv
!HIV/data/countryRegionCodes.csv
!HIV/data/Hard_coded_estimates.csv
!HIV/data/HIVadjustments-*.csv
!HIV/data/HIVbaseEstimates-*.csv
HIV/data/HIVbaseEstimates-2021_Testing.csv
HIV/data/HIVbaseEstimates-2022_Store.csv
!HIV/data/individualHIVparameters.csv
!HIV/data/README.md
HIV/output/*
!HIV/output/Undiagnosed_metrics_paper
HIV/output/Undiagnosed_metrics_paper/*
!HIV/output/Undiagnosed_metrics_paper/Final_Results
!HIV/output/Undiagnosed_metrics_paper/UndiagnosedIndicatorPlots.Rmd
!HIV/output/Undiagnosed_metrics_paper/Statistical_Analysis
HIV/trend_analysis/
HIV/output.dta

HIV/docs/*
!HIV/docs/ART_analysis.docx
!HIV/docs/Duplicate_analysis.docx
HIV/subprojects/

HIV/misc/
HIV/2017_HIV_cascade_tracker.xlsx
HIV/Vic_migration

# HIV/hivageing.Rmd
# HIV/1-PldhivCalculations.R
# HIV/1-PldhivSingle.Rmd

HIV/temp/*

# Chlamydia directory
Chlamydia/data/CT notifications_2015_National_Estimate-2016-09-27.xlsx
Chlamydia/data/chlamRetestVariation*.csv
Chlamydia/data/chlamtests*.csv
Chlamydia/data/retestsAccept_clean-2014.csv
Chlamydia/data/retestsAccess*.csv
Chlamydia/data/retestsNSWgp_clean-2015.csv
Chlamydia/data/2021/*-v1.csv
Chlamydia/data/2021/CT_notification_proportions-2021.csv
Chlamydia/data/2022/CT_notification_proportions-2022.csv
# Chlamydia/output/figures/
Chlamydia/output/*
!Chlamydia/output/2016
!Chlamydia/output/2017
Chlamydia/output/2016/figures/*.tiff
Chlamydia/output/2016/figures/2016_ASR_paper_v2/
Chlamydia/ChlamydiaCascade.nb.html
Chlamydia/data/2022/chlamtreatment2022_old.csv

HCV cascade/

.849C9593-D756-4E56-8D6E-42412F2A707B
