*.url

# Main directory
Archive/
data/*
OtherSTIs/
!data/ABS_departures_clean-*.csv
!data/ABS_interstate_clean-*.csv
!data/ABS_migration_clean-*.csv
/dashboards/*.csv
/dashboards/rsconnect/
/*.xlsm
/*.lnk
/*.DS_Store
/docs/
/output/
/references/
/code/Treatment cascade calculations.rmd
/misc/
/code/.Rhistory
/code/.Rdata
.Rhistory
.RData
cascadeIncidence_files/
AcquisitionCalculation.xlsx
Rplots.pdf
PHC CT request_NSW data only_updated_26July2016.xlsx

# HIV directory
HIV/*.nb.html
HIV/data/*
!HIV/data/countryRegionCodes.csv
!HIV/data/Hard_coded_estimates.csv
!HIV/data/HIVadjustments-*.csv
!HIV/data/HIVbaseEstimates-*.csv
!HIV/data/individualHIVparameters.csv
!HIV/data/README.md
HIV/output/
HIV/trend_analysis/
HIV/output.dta

HIV/docs/
HIV/subprojects/

HIV/hivageing.Rmd
HIV/1-PldhivCalculations.R
HIV/1-PldhivSingle.Rmd

# Chlamydia directory
Chlamydia/data/raw/*
Chlamydia/data/chlamRetestVariation*.csv
Chlamydia/data/chlamtests*.csv
Chlamydia/data/retestsAccept2014.csv
Chlamydia/data/retestsAccess*.csv
Chlamydia/data/retestsNSWgp2015.csv
# Chlamydia/output/figures/
Chlamydia/output/*
!Chlamydia/output/2016
Chlamydia/output/2016/figures/*.tiff
Chlamydia/output/2016/figures/2016_ASR_paper_v2/
Chlamydia/ChlamydiaCascade.nb.html

HCV cascade/
HIV/misc/
HIV/2017_HIV_cascade_tracker.xlsx
.Rproj.user
HIV/Vic_migration